[submodule "libs/WikipediaData"]
	path = libs/WikipediaData
	url = https://github.com/MarianelaDiaz/AKWinchester-WikipediaData.git
[submodule "libs/NewYork2"]
	path = libs/NewYork2
	url = https://github.com/FacundoAlvarado9/AyDS-NewYork2-Submodule.git
[submodule "libs/LastFMData"]
	path = libs/LastFMData
	url = https://github.com/yaninaerivera/Lisboa1-LastFM-Data
